*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px -5px gray;
}

img{
    width: 100%;
}




















